body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d3d3d338;
}

.todo-title-icon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.MuiTypography-root {
  width: 100%;
}

.icons-container {
  display: flex;
}

.todos-ul {
  padding: 0;
}